*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Urbanist',sans-serif;
}
h1,h2,h3{
  color: white;
}
p,a{
  color: white;
  line-height: 1.5;
  font-size: 1.5rem;
}
body{
  background-color: rgb(20, 20, 20);
}
.container{
  max-width: 120rem;
  margin: auto;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  color: rgb(251, 216, 127);
}